.seller-container {
  margin-top: 44px;
}

.title-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-btn-container .title-wrap {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  font-size: var(--fs-4xl);
}

.title-wrap .title {
  font-weight: 700;
}

.title-wrap .title-seller {
  font-weight: 500;
  color: var(--color-main);
}

.store-info-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
  margin-top: 38px;
}

.store-info-container .tab-list {
  flex: 0 1 15%;
  min-width: 200px;
  max-width: 250px;

  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

/* table */
.table {
  flex: 1 1 auto;
  min-width: 600px;
  min-height: 60vh;

  border-radius: 5px;
  border: 1px solid var(--gray-light);
  background-color: #f2f2f2;
  overflow: hidden;
  font-size: var(--fs-lg);

  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
}

.table-head,
.table-item {
  width: 100%;
  border-bottom: 1px solid var(--gray-light);

  display: grid;
  grid-template-columns: 2fr 1fr 0.7fr 0.7fr;
  align-items: center;
  justify-items: center;
  text-align: center;
  white-space: nowrap;
}

.table-head,
.table-item {
  background-color: #fff;
}

.table-list {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.table-list.item-none {
  font-size: var(--fs-sm);
  color: var(--gray-dark);

  display: flex;
  justify-content: center;
  align-items: center;
}

.table-head {
  height: 60px;
}

.table-item {
  height: 103px;
}

.table-item * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-item:last-child {
  margin-bottom: 103px;
}

.table-item.stock-none .item-desc {
  color: var(--color-red);
}

.item-col.has-img {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.item-col.has-img img {
  flex: 0 1 auto;
  width: 70px;
  min-width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #dfdfdf;
  margin: 0 clamp(8px, 1.8vw, 30px);
}

.item-col .item-title-wrap {
  width: 100%;
  text-align: left;
}

.item-col .item-title {
  margin-bottom: 10px;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-col .item-desc {
  color: var(--gray-dark);
  font-size: var(--fs-md);
}
