/* .container * {
  border: 1px solid pink;
} */

.dashboard-container {
  margin-top: 44px;
}

.title-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-btn-container .title-wrap {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  font-size: var(--fs-4xl);
}

.title-wrap .title {
  font-weight: 700;
}

.title-wrap .title-seller {
  font-weight: 500;
  color: var(--color-main);
}

/* .title-btn-container .btn {
} */
