/* 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  overflow-y: scroll;
  font-size: 1.6rem;
  color: #000000;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  vertical-align: bottom;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

input {
  all: unset;
}

/* 공통 */
.sr-only {
  position: absolute;
  overflow: hidden;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
}

.font-bold {
  font-weight: 700;
}

.container {
  max-width: calc(1280px + 48px);
  margin: 0 auto;
  padding: 0 24px;
}

/* 버튼 사이즈 : btn + btn-lg / btn-m / btn-ms / btn-s */
/* 버튼 컬러 : default: 메인 그린 컬러 / btn + btn-white / btn-dark */
/* 버튼 기능 : default: / btn + btn-disabled */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;

  color: #fff;
  background-color: var(--color-main);
  border-radius: 5px;
}

.btn-lg {
  font-size: 24px;
  width: 220px;
  height: 68px;
}

.btn-m {
  font-size: 18px;
  width: 480px;
  height: 60px;
}

.btn-ms {
  font-size: 16px;
  width: 200px;
  height: 60px;
}

.btn-s {
  font-size: 16px;
  width: 80px;
  height: 40px;
}

.btn:hover {
  background-color: var(--color-main-dark);
}

.btn-disabled {
  background-color: var(--gray-light);
  cursor: not-allowed;
}

.btn-white {
  color: var(--gray-dark);
  background-color: #fff;
  border: 1px solid var(--gray-light);
}

.btn-white:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid var(--gray-dark);
}

.btn-dark {
  background-color: var(--gray-dark);
}

.btn-dark:hover {
  background-color: #4a4a4a;
}

/* header */
main {
  /* header footer 위치 조정 */
  flex: 1;
}

header {
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-container {
  height: 90px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.header-h1 a {
  display: inline-block;
}

.header-logo {
  width: 124px;
  height: auto;
  display: block;
}

.form-search {
  background-color: #fff;
  border: 2px solid var(--color-main);
  width: 400px;
  height: 46px;
  border-radius: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  overflow: hidden;
  padding: 0 22px;
}

.form-search .search-logo-wrap {
  flex: 0 1 auto;
  width: 28px;
  min-width: 24px;
  display: none;
}

.form-search .search-logo {
  width: 100%;
  aspect-ratio: 1;
}

.form-search input {
  width: 100%;
  height: 100%;
  font-size: var(--fs-md);
  line-height: 1;
}

.form-search input::placeholder {
  color: var(--gray-dark);
}

.form-search button {
  flex: 0 1 auto;
  width: 28px;
  min-width: 22px;
  aspect-ratio: 1;
  background: url("../../assets/images/icons/icon-search.svg") no-repeat center /
    contain;
  margin-bottom: 1px;
  cursor: pointer;
}

.actions-list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0 26px;
}

.actions-list a {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}

.actions-list img {
  display: block;
  width: 32px;
  aspect-ratio: 1;
}

.actions-list p {
  color: var(--gray-dark);
  font-size: var(--fs-xs);
  width: 56px;
}

/* footer */
footer {
  width: 100%;
  height: 298px;
  background-color: #f2f2f2;
  margin-top: 180px;
}

.footer-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 22px;
  font-size: var(--fs-sm);
}

footer .divider {
  width: 100%;
  height: 1px;
  background-color: var(--gray-light);
}

.footer-container .links-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-links {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 0;
}

.footer-links li {
  display: inline-block;
}

.footer-links li:not(:last-child)::after {
  content: "|";
  padding: 0 14px;
}

.footer-sns {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 14px;
}

.footer-sns li {
  display: inline-block;
}

.footer-sns a {
  display: inline-block;
  width: 32px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--gray-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.footer-sns .link-insta {
  background-image: url("../../assets/images/icons/icon-insta.svg");
}

.footer-sns .link-fb {
  background-image: url("../../assets/images/icons/icon-fb.svg");
}

.footer-sns .link-yt {
  background-image: url("../../assets/images/icons/icon-yt.svg");
}

.footer-info {
  color: var(--gray-dark);
  line-height: 24px;
}

/* responsive */

@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  /* header */
  .header-container {
    height: 72px;
    display: flex;
    justify-content: space-between;
  }

  .header-h1 {
    display: none;
  }

  .form-search {
    gap: 10px;
    padding: 0 16px 0 12px;
  }

  .form-search .search-logo-wrap {
    display: inline-block;
  }

  /* section-list */
  .actions-list {
    gap: 0 8px;
  }

  .actions-list img {
    width: 24px;
  }

  .actions-list p {
    color: var(--gray-dark);
    font-size: var(--fs-xs);
    width: 48px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 14px;
  }

  /* header */
  .form-search {
    padding: 0 14px 0 12px;
  }

  .form-search input {
    font-size: var(--fs-sm);
  }

  /* footer */
  .footer-container {
    font-size: var(--fs-xs);
  }

  .footer-info {
    line-height: 20px;
  }
}
