html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
}

.section-error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px 50px;
}

.img-error {
  flex: 0 0 auto;
  width: 276px;
  aspect-ratio: 276 / 236;
  background: url("/assets/images/icons/icon-404.svg") no-repeat center /
    contain;
}

.text-container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  word-break: keep-all;
  line-height: normal;
}

.text-title {
  font-size: var(--fs-4xl);
  font-weight: 700;
}

.text-desc {
  line-height: normal;
  color: var(--gray-dark);
}

.btn-container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .section-error {
    flex-wrap: wrap;
  }

  .img-error {
    width: clamp(200px, 28vw, 276px);
  }

  .text-container {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .btn-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .text-title {
    font-size: var(--fs-2xl);
  }
}

@media (max-width: 768px) {
  .text-desc {
    font-size: var(--fs-sm);
  }
}
